* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    overflow-x: hidden;
}

.app {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 125px;
    position: relative;
    width: 100vw;
}

.app-container {
    display: flex;
    position: relative;
    width: 61%;
}

.app-container-fill {
    display: flex;
    position: relative;
    width: 100vw;
}

.pointer {
    cursor: pointer;
}

.invisible {
    opacity: 0;
}

.bg-elements {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    top: 0;
}

@media (max-width: 1440px) and (min-width: 1025px) {
    .app-container {
        width: 73%;
    }
}

@media (max-width: 1024px) and (min-width: 481px) {
    .app-container {
        width: 85%;
    }
}

@media (max-width: 480px) {
    .app {
        padding-top: 50px;
    }

    .app-container {
        width: 92%;
        margin-top: 2rem;
    }
}
